{% extends "employee_register/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<p> We will show a form of employee from the tables </p>
<form action = "" method="post" autocomplete = "off"> 
    {% csrf_token %}
{{form|crispy}}

<div class="row">
    <div class="col-md-8">
        <button type = "submit" class = "btn btn-success btn-block btn-lg"> <i class="fa-solid fa-database"></i>Submit </button>
    </div>
    <div class="col-md-4">
        <a href="{% url 'employee_list' %}" class="btn text-secondary btn-block btn-lg">
           <i class="fas fa-stream"></i> Back to list 

</div>





{% endblock content %}